/* GENERAL */
html {
  color: #071a32;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  padding: 2rem;
}

* {
  box-sizing: border-box;
}

/* BUTTON */
.button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 0.5rem;
  background: deeppink;
  color: #fff;
  cursor: pointer;
  position: relative;
  max-width: 18rem;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:focus,
.button:hover {
  outline: none;
}

.button.outline:focus::before,
.button.outline:hover::before {
  box-shadow: deeppink 0 0 0 0.0625rem;
  content: "";
  height: calc(100% + 0.25rem);
  left: 0px;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: calc(100% + 0.25rem);
  border-radius: inherit;
  padding: 0.125rem;
}

.button.underline {
  border: none;
  border-radius: 0;
  background: transparent;
  color: deeppink;
  padding: 0;
  margin: 0.25rem 0.5rem;
  font-weight: bold;
}

.button.underline:focus::before,
.button.underline:hover::before {
  border-bottom: 0.0625rem solid currentcolor;
  bottom: -0.1875rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  pointer-events: none;
}

/* TEXT INPUT */
.ti {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border: 0.0625rem solid #071a32;
  border-radius: 0.25rem;
  background: #fff;
  color: #071a32;
  position: relative;
}

.ti:focus,
.ti:hover {
  outline: none;
  border-bottom: 0.25rem solid #071a32;
}

.viewAllDemo h2 {
  font-size: 1rem;
}

.viewAllDemo button {
  margin-bottom: 0.5rem;
}

.viewAllDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.viewAllDemo label span {
  margin-right: 1rem;
}

.intersectionDemo h2 {
  font-size: 1rem;
}

.intersectionDemo button {
  margin-bottom: 0.5rem;
}

.intersectionDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.intersectionDemo label span {
  margin-right: 1rem;
}

.setDifferenceDemo h2 {
  font-size: 1rem;
}

.setDifferenceDemo button {
  margin-bottom: 0.5rem;
}

.setDifferenceDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.setDifferenceDemo label span {
  margin-right: 1rem;
}

.symmetricDifferenceDemo h2 {
  font-size: 1rem;
}

.symmetricDifferenceDemo button {
  margin-bottom: 0.5rem;
}

.symmetricDifferenceDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.symmetricDifferenceDemo label span {
  margin-right: 1rem;
}

.unionDemo h2 {
  font-size: 1rem;
}

.unionDemo button {
  margin-bottom: 0.5rem;
}

.unionDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.unionDemo label span {
  margin-right: 1rem;
}

.sortComparisonDemo button,
.sortComparisonDemo label {
  margin-bottom: 1rem;
  display: inline-block;
}

.sortComparisonDemo label span {
  margin-right: 1rem;
}

.sortComparisonDemo h3 {
  display: inline-block;
  margin: 0.5rem 0;
}

.sortComparisonDemo .arrayData .elements {
  white-space: nowrap;
  overflow-x: scroll;
  border: 1px solid #071a32;
  padding: 0.5rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
  margin-top: 0.55rem;
}

.sortDemo button,
.sortDemo label {
  margin-bottom: 1rem;
  display: inline-block;
}

.sortDemo label span {
  margin-right: 1rem;
}

.sortDemo .arrayData .elements {
  white-space: nowrap;
  overflow-x: scroll;
  border: 1px solid #071a32;
  padding: 0.5rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
  margin-top: 0.55rem;
}

.nodeDemo .nodeContainer {
  width: 15rem;
}

.nodeDemo .node {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.nodeDemo .node pre {
  white-space: pre-wrap;
  text-align: left;
}

.nodeDemo button,
.nodeDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.nodeDemo label span {
  margin-right: 1rem;
}

.doublyLinkedListDemo .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.doublyLinkedListDemo .flexContainer .leftColumn {
  margin-right: 2rem;
}

.doublyLinkedListDemo .flexContainer .rightColumn {
  flex-shrink: 0;
}

.doublyLinkedListDemo .doublyLinkedListContainer {
  width: 17rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

.doublyLinkedListDemo h2 {
  margin-top: 0;
}

.doublyLinkedListDemo .node {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.doublyLinkedListDemo button,
.doublyLinkedListDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.doublyLinkedListDemo label span {
  margin-right: 1rem;
}

.doublyLinkedListDemo fieldset {
  margin-bottom: 0.5rem;
}

.nodeDemo .nodeContainer {
  width: 15rem;
}

.nodeDemo .node {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.nodeDemo .node pre {
  white-space: pre-wrap;
  text-align: left;
}

.nodeDemo button,
.nodeDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.nodeDemo label span {
  margin-right: 1rem;
}

.linkedListDemo .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.linkedListDemo .flexContainer .leftColumn {
  margin-right: 2rem;
}

.linkedListDemo .flexContainer .rightColumn {
  flex-shrink: 0;
}

.linkedListDemo .linkedListContainer {
  width: 17rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

.linkedListDemo h2 {
  margin-top: 0;
}

.linkedListDemo .node {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.linkedListDemo button,
.linkedListDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.linkedListDemo label span {
  margin-right: 1rem;
}

.linkedListDemo fieldset {
  margin-bottom: 0.5rem;
}

.priorityQueueDemo .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.priorityQueueDemo .flexContainer .leftColumn {
  margin-right: 2rem;
}

.priorityQueueDemo .flexContainer .rightColumn {
  flex-shrink: 0;
}

.priorityQueueDemo .priorityQueueContainer {
  width: 17rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

.priorityQueueDemo h2 {
  margin-top: 0;
}

.priorityQueueDemo .item {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.priorityQueueDemo .item.alt {
  background: #ccc;
}

.priorityQueueDemo button,
.priorityQueueDemo label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.priorityQueueDemo label span {
  margin-right: 1rem;
}

.priorityQueueDemo .frontOfPriorityQueue {
  border-bottom: 1px solid #071a32;
  font-weight: bold;
}

.priorityQueueDemo .endOfPriorityQueue {
  border-top: 1px solid #071a32;
  font-weight: bold;
}

.queueDemo .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.queueDemo .flexContainer .leftColumn {
  margin-right: 2rem;
}

.queueDemo .flexContainer .rightColumn {
  flex-shrink: 0;
}

.queueDemo .queueContainer {
  width: 17rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

.queueDemo h2 {
  margin-top: 0;
}

.queueDemo .item {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.queueDemo .item.alt {
  background: #ccc;
}

.queueDemo .newItemTextInput {
  margin-right: 0.5rem;
}

.queueDemo button {
  margin-bottom: 0.5rem;
}

.queueDemo .frontOfQueue {
  border-bottom: 1px solid #071a32;
  font-weight: bold;
}

.queueDemo .endOfQueue {
  border-top: 1px solid #071a32;
  font-weight: bold;
}

.setDemo .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.setDemo .flexContainer .leftColumn {
  margin-right: 2rem;
}

.setDemo .flexContainer .rightColumn {
  flex-shrink: 0;
}

.setDemo .setContainer {
  width: 17rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

.setDemo h2 {
  margin-top: 0;
}

.setDemo .item {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.setDemo .item.alt {
  background: #ccc;
}

.setDemo .newItemTextInput,
.setDemo .removeItemTextInput {
  margin-right: 0.5rem;
}

.setDemo button {
  margin-bottom: 0.5rem;
}

.stackDemo .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stackDemo .flexContainer .leftColumn {
  margin-right: 2rem;
}

.stackDemo .flexContainer .rightColumn {
  flex-shrink: 0;
}

.stackDemo .stackContainer {
  width: 17rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}

.stackDemo h2 {
  margin-top: 0;
}

.stackDemo .item {
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #071a32;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: #071a32;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  min-width: 0;
}

.stackDemo .item.alt {
  background: #ccc;
}

.stackDemo .newItemTextInput {
  margin-right: 0.5rem;
}

.stackDemo button {
  margin-bottom: 0.5rem;
}

.stackDemo .topOfStack {
  border-bottom: 1px solid #071a32;
  font-weight: bold;
}

.stackDemo .bottomOfStack {
  border-top: 1px solid #071a32;
  font-weight: bold;
}


/*# sourceMappingURL=main.css.map*/