.searchComparisonDemo button,
.searchComparisonDemo label {
  margin-bottom: 1rem;
  display: inline-block;
}

.searchComparisonDemo label span {
  margin-right: 1rem;
}

.searchComparisonDemo h3 {
  display: inline-block;
  margin: 0.5rem 0;
}

.searchComparisonDemo .haystackTextAreaLabel {
  width: 100%;
}

.searchComparisonDemo .haystackTextAreaLabel span {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.searchComparisonDemo .haystackTextArea {
  width: 100%;
  height: 10rem;
  resize: none;
}

.searchComparisonDemo .arrayHaystack {
  margin: 1rem 0;
}

.searchComparisonDemo .arrayHaystack .arrayHaystackCharacters {
  white-space: nowrap;
  overflow-x: scroll;
  border: 1px solid #071a32;
  padding: 0.5rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
  margin-top: 0.55rem;
}
