/***************************************************
[TABLE OF CONTENTS]
* General
* Header
* Footer
**************************************************/

/* General */
html,
body {
    background-color: #fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #121212;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem 2rem;
}

article,
header,
nav,
main,
section,
footer {
    display: block;
}

/* Header */
.header {
    text-align: center;
}

/* Footer */
footer {
    text-align: right;
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
}
